@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');
.yesOrNoLinks a{
font-size: 300px;
text-decoration:none;
padding:5px;
filter: sepia(80%) drop-shadow(8px 30px 2px black);

transform-origin: left top;
transition: transform 3s;
}
.ageRestrictionStyle h1{
  font-size: 50px;
  color:lightyellow;
  filter: drop-shadow(2px 10px 1px black);
}
.yesOrNoLinks a:hover{

transform: rotate(360deg);
}
.ageRestrictionStyle{
font-family: 'Roboto Slab', serif ;
}
