


.kegStyle{
display:inline-block;
padding:30px;

}
.dropDown{
  position:absolute;
  display:inline-block;
  margin:50px;
}
.sold{
  background-color: lightblue;
  display:inline-block;
}
.soldOptions{
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;


}

.pint{
  background-color: yellow;

}
.soldOut{
background-color: red;

}
.sold:hover + .soldOptions{
display:inline-block;
position: absolute;
z-index: 1;
}
.soldOptions:hover + .sold button{
  display:inline-block;
  background-color: darkblue;
}
