

.dropDown{
  position:relative;
  display:inline-block;
z-index: 100;

}
.soldOptions{
  display:none;
  position: relative;
  box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.6);
  z-index: 1;
  border:none;

}
.dropDown .sold {
background: inherit;
margin-top: 100px;
font-size: 40px;
color:rgba(150,150,150,0.6);
border:none;
position: relative;
z-index:inherit;
box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.6);
}

.pint{
  background-color: yellow;
font-size: 30px;
border:none;
margin:5px;
cursor: pointer;

}
.soldOut{
background-color: red;
font-size: 30px;
border:none;
margin:5px;
cursor: not-allowed;

}
.dropDown:hover  .soldOptions{
display:block;
}
