

.dropDown{
  position:relative;
  display:inline-block;
  margin-left: 50px;

}
.soldOptions{
  display:none;
  position: relative;
  box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.6);
  z-index: 1;


}
.sold{
  background-color: lightblue;
margin-top: 100px;

}

.pint{
  background-color: yellow;

}
.soldOut{
background-color: red;

}
.dropDown:hover  .soldOptions{
display:block;
}
