/* Age Restriction Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');
.yesOrNoLinks a{
font-size: 300px;
text-decoration:none;
padding:5px;
filter: sepia(80%) drop-shadow(8px 30px 2px black);
}
.ageRestrictionStyle h1{
  font-size: 50px;
  color:lightyellow;
  filter: drop-shadow(2px 10px 1px black);
}
.yesOrNoLinks a:hover{

  filter:none;
}
.ageRestrictionStyle{
font-family: 'Roboto Slab', serif ;
}


/* KEG STYLE  */
.kegStyle{
text-align:center;
margin:10px;
background: rgba(0,0,0,0.5);
color:rgba(200,200,200,.6);
text-shadow:10px 8px 1px black;
filter:none !importnant;
font-size: 20px;
padding:10px;
width: 600px;
display:inline-block;
height:800px
}

/* KEG BRAND LIST STYLES */
.noBeer{
  display:none;
}
.beer{
margin:200px;
display:inline-flex;
overflow-x: scroll;
height:100%;
width:100%;

}



/* KEG DROP DOWN STYLES */
.dropDown{
  position:relative;
  display:inline-block;
z-index: 100;

}
.soldOptions{
  display:none;
  position: relative;
  box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.6);
  z-index: 1;
  border:none;

}
.dropDown .sold {
background: inherit;
margin-top: 100px;
font-size: 40px;
color:rgba(150,150,150,0.6);
border:none;
position: relative;
z-index:inherit;
box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.6);
}

.pint{
  background-color: yellow;
font-size: 30px;
border:none;
margin:5px;
cursor: pointer;

}
.soldOut{
background-color: red;
font-size: 30px;
border:none;
margin:5px;
cursor: not-allowed;

}
.dropDown:hover  .soldOptions{
display:block;
}
