body {
cursor:url(./components/images/mug6.png), pointer;
background-image: url(./components/images/woodenBG.jpg);
background-repeat: no-repeat;
height:100vh;
background-size: cover;
backdrop-filter: sepia(30%);
}
a{
  cursor:url(./components/images/mug6.png), pointer;
}
button{
  cursor:url(./components/images/mug6.png), pointer;
}
form , form label {
  cursor:url(./components/images/mug6.png), pointer;
}
